<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="DefaultConnection" 
             connectionString="Server=tcp:itacademy.database.windows.net;Database=zikratiy_db;
             User ID=u_zikratiy;Password=4JQfFHxC;Trusted_Connection=False;Encrypt=True;"
             providerName="System.Data.SqlClient"/>
        <!--<add name="DefaultConnection"
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Test_db;Trusted_Connection=Yes;"
             providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
</configuration>
